<div class="container">
<p id="notice"><%= notice %></p>

<div class="intro">
<h1>One Solution.</h1>
</div>







<table>

  <thead>
    <tr>

      <!-- <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th> -->

    </tr>
  </thead>


  <tbody>
    <table class="table">

    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.description %></td>
        <td><%= link_to 'Show', resource %></td>
        <!-- <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</table>
</div>

<br>


<!-- <%= link_to 'New Resource', new_resource_path %> -->
<%= link_to new_resource_path do  %>
<i class="fa fa-plus fa-4x">    Create New Resource</i>
  <% end %>
