<div class="container">
<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<div class="title">
=======


>>>>>>> 306ee41c9ae01cf728ff9673148fe4d6c2d65f03
<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>
</div>
<br>

<div class="review">
<h3>Reviews</h3>
<% @resource.reviews.each do |review| %>
  <p>
    <%= review.comment %>
  </p>
  <div>
    <%= time_ago_in_words review.created_at %> ago
  </div>

<% end %>


<<<<<<< HEAD
=======

>>>>>>> 306ee41c9ae01cf728ff9673148fe4d6c2d65f03
<h3>New Review</h3>

<%= render 'reviews/form' %>

<<<<<<< HEAD
<br>
<br>
<%= link_to edit_resource_path(@resource) do %>
<i class="fa fa-puzzle-piece fa-3x"> Edit</i>
<% end %>


<%= link_to resources_path do %>
<i class="fa fa-backward fa-3x"> Back</i>
<% end %>

</div>
</div>
=======

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
>>>>>>> 306ee41c9ae01cf728ff9673148fe4d6c2d65f03
